.DS_Store
venv/
*.egg-info
build/
dist/
*.o
*.so*
*.bin
.cproject
.project
.settings
__pychache__
_build/
*.pyc
Jclouds-H3/target/
Jclouds-H3/.idea/
Jclouds-H3/*.iml
h3cp/h3cp
docs/packages.rst
docs/gr/
